* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: theme('colors.bunker.950');
  color: white;
  font-family: Geist, sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb:vertical {
  @apply bg-gradient-to-b from-transparent via-spring-green-400 to-transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  @apply bg-gradient-to-r from-transparent via-spring-green-400 to-transparent;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.bunker.950');
}
